<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Welcome <%= capUser %> <br>
        Choose your beginning!
    </h1>
    <div class="main">
        <a href="/desert">
            <img src="desert.jpg" height="400px">
        </a>
        <a href="/ocean">
            <img src="ocean.jpg" height="400px">
        </a><a href="/forest">
            <img src="forest.jpg" height="400px">
        </a>
    </div>
</body>
</html>