<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Choose your class!</h1>
    <!-- <div class="main">
        <h2>Warrior</h2>
        <h2>Wizard</h2>
        <h2>Assassin</h2>
    </div> -->
    <div class="main">
        <a href="/<%= placeSent %>/warrior">
            <img src="warrior.png" height="500px"/>
        </a>
        
        <a href="/<%= placeSent %>/wizard">
            <img src="wizard.png" height="500px"/>
        </a>
        <a href="/<%= placeSent %>/assassin">
            <img src="assassin.png" height="500px"/>
        </a>
    </div>
</body>
</html>